// Dark Theme
$dark-primary-color: #f4f4f4;
$dark-secondary-color: #c6c6c6;
$dark-error-color: #fa4d56;

// Light Theme
$light-primary-color: #161616;
$light-secondary-color: #525252;
$light-error-color: #da1e28;